include.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="extension">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="assets">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
            <xs:attribute name="rename" type="xs:string" use="required" />
            <xs:attribute name="if" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="source">
          <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="ndll">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="if" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>